# 17 August

In [7]:
#1
first_last_name = 'Emma Bonner'
age = 20
hometown = 'Easton, ME'
print("I am " + first_last_name + ". I am " + str(age) + " years old. I'm from " + hometown + ".")

I am Emma Bonner. I am 20 years old. I'm from Easton, ME.

In [11]:
#a
first_last_name.lower()

'emma bonner'

In [33]:
#b
#first_last_name.replace('e', 'E')
#first_last_name.replace('b', 'B')
#why doesn't this change both the e's to uppercase? (It does if I add '.replace('b','B') after the first statement.)
    
first_last_name.title() #this way seems a lot more efficient

'Emma Bonner'

In [27]:
intro = "I am " + first_last_name + ". I am " + str(age) + " years old. I'm from " + hometown + "."
intro

"I am Emma Bonner. I am 20 years old. I'm from Easton, ME."

In [26]:
#2
intro = intro.replace("I am", "She is").replace("I'm", "She's")
intro

"She is Emma Bonner. She is 20 years old. She's from Easton, ME."

In [32]:
#3
len(intro) > age + 40

False